


@font-face {
    font-family: Open Sans; /* Имя шрифта */
    src: url(../fonts/open-sans.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: PT Sans; /* Имя шрифта */
    src: url(../fonts/PTC55F.ttf); /* Путь к файлу со шрифтом */
}


html {
    font-family: 'Open Sans';
}



body {
    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background: url(../img/dna-bg.png);
    background-size: 100%;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}


h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #34498a;
    font-family: 'PT Sans';
    margin-top: 10px;
}

h2 {
    font-size: 24px;
} 

/* Paragraph & Typographic */
p {
    line-height: normal;
    margin-bottom: 15px;
    color: #4c5a6f;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


input {
    border-radius: 2px;
    background-color: #fafafa;
    border: solid 1px #e6e6e6;
    padding: 8px;
    line-height: 1;
    font-size: 16px;
}

input:hover {
    border: solid 1px #3cead3;
}

input:focus {
    box-shadow: 0 0 4px 0 rgba(54, 169, 167, 0.3);
    border-color: #3cead3;
}

.clear {
    clear: both;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(4, 4, 4, 0.5);
    z-index: 10000;
    display: none;
}

.popup .popup-body {
    text-align: center;
    width: 60%;
    min-width: 300px;
    max-width: 640px;
    height: 480px;
    border-radius: 18px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 180px;
    padding: 30px;
    position: relative;
}

.popup .popup-body h2 {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    color: #34498a;
    font-family: 'PT Sans';
    font-size: 36px;
}


.close-popup {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 15px;
    height: 15px;
    background: url(../img/close-icon.png);
    background-size: cover;
    cursor: pointer;
}

.popup .popup-body form input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
.popup .popup-body form {
    text-align: left;
    width: 80%;
    margin: auto;
    color: #4c5a6f;
    font-family: PT Sans;
    line-height: 1.85;
}

.popup .popup-body form  .red-but {
    display: block;
    margin: auto;
}


.white-text, .white-text:hover, .white-text:focus, .white-text:active {
    color: #fff;
}

#headerwrap {
	padding-top: 180px;
	
}

.inv-msg {
    display: block;
    color: red;
}

.navbar {
    background: none;
    border: none;
    padding-bottom: 15px;
}

.navbar h2 {
    color: #fff;
    font-family: Open Sans;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    font-family: 'PT Sans';
    float: left;
    padding: 0px;
    font-size: 22px;
    width: 260px;
    color: #fff;
    line-height: 1.1;
    letter-spacing: 0.3px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:active{
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: 1px solid transparent;
    letter-spacing: 0.5px;
}




.navbar-nav > li {
    margin-left: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent; 
    border-radius: 6px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.navbar-default .navbar-nav #fast-call {
    background: #ff515a;
    border-radius: 36px;
    font-family: 'PT Sans';
    text-transform: uppercase;
}

.navbar-default .navbar-nav .fast-call {
    margin-left: 10px;
    cursor: pointer;
}

.navbar-default .navbar-nav #fast-call:hover{
    color: #fff;
    background-color: #e84851;
}


#headerwrap h1 {
	margin-top: 27px;
    color: white;
    font-size: 48px;
    text-align: left;
    width: 80%;
    font-weight: bold;
    line-height: 1;
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white;
	width: 50%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #ffffff;
    margin-bottom: 50px;
    margin-top: 25px;
}


#home {
    width: 100%;
    height: 681px;
  /*background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#5970bb), to(#5190c1));
  background-image: -webkit-linear-gradient(#5970bb, #5190c1);
  background-image: -moz-linear-gradient(#5970bb, #5190c1);
  background-image: -o-linear-gradient(#5970bb, #5190c1);
  background-image: linear-gradient(#5970bb, #5190c1);
  */
  
  /*opacity: 0.72;*/
    /*background: url(../img/dna-bg.png);
    background-size: 100%;
      */
    background: linear-gradient(to bottom, rgba(89,112,187,0.72), rgba(81,144,193,0.72));
    
    
    
    /*linear-gradient(to bottom, #5970bb, #5190c1);*/
}

/* intro Wrap */

#intro {
	padding-top: 45px;
	background: #fff;
	padding-bottom: 45px;
}

#intro h1 {
    margin-bottom: 15px;
}

#intro p {
    width: 60%;
    margin: 18px auto 35px auto;
}

#intro img {
    height: 90px;
}

#features {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #e9f6ff;
}

#features .ac a{
	font-size: 20px;
}

#osmotr {
    padding-top: 40px;
    padding-bottom: 55px;
    background: url(../img/retina_doc.png);
    background-size: cover;
    background-position: 100%;
}

#osmotr h1 {
    text-align: left;
}

#osmotr p {
    width: 60%;
}


#doctors {
    text-align: center;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#doctors img {
    width: 125px;
}

#doctors h1{
    margin-bottom: 25px;
}

#doctors a {
    display: block;
    margin-top: 18px;
    margin-bottom: 18px;
    color: #273677;
    line-height: 1.6;
    font-family: Open Sans;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 18px;
}

#genetic {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #e9f6ff;
}

#genetic img {
    height: 90px;
}

#genetic p {
    width: 70%;
    color: #4c5a6f;
    margin: 18px auto 30px auto;
}

#vrach-info {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/retina_doc2.png);
        background-size: cover;
    background-position: 100%;
}

.width-60 {
    width: 60%;
    margin-top: 30px;
} 

.width-45 {
    width: 45%;
}

#price {
    padding-top: 40px;
    padding-bottom: 65px;
    background: #495fa6;
}

#price h1, #price p {
    color: #fff;
}

#price p {
    width: 70%;
    margin: 0px auto 20px auto;
}



#zapis {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#zapis p {
    width: 70%;
    margin: 0px auto 10px auto;
}

#zapis .zap-form {
    width: 70%;
    margin: auto;
    padding: 15px;
}

.zap-form input{
    width: 49%;
}

#zapis .qu-wr {
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: bold;
    color: #34498a;
    line-height: normal;
    display: block;
    width: 55%;
    float: left;
    margin-top: 9px;
}

.zap-form span {
    margin-top: 0px;
   
    margin-left: 20px;
}




.zap-form .centered {
    margin-bottom: 25px;
}

.zap-form .grey-pl {
     margin-bottom: 15px;
     float: left;
     display: block;
     background: #fafafa;
     margin-left: 25px;
     padding: 1px;
}

.zap-form .red-but {
    margin-top: 40px;
}

#zapis .yn {
    text-transform: uppercase;
    float: left;
    display: block;
     border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 3.1;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}

#zapis .active {
    color: #fff;
    background: #3cead3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/*#zapis .no {
    text-transform: uppercase;
    float: left;
    display: block;
     border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 3.1;
    cursor: pointer;
}
*/
#zapis .now {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4c5a6f;
      float: left;
    display: block;
    margin-top: 15px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #fff;
	padding-top: 45px;
	padding-bottom: 45px;
}


#showcase img {
    display: block;
    float: left;
}

#showcase p {
    float: left;
    display: block;
    width: 84%;
    padding: 17px
}

#showcase h1{
    margin-bottom: 25px;
}

#showcase .left-box {
    float: left;
    width: 40px;
}

#showcase .green-line {
    background: #3cead3;
    height: 2px;
    width: 28px;
    float: left;
    display: block;
    margin-left: 17px;
}

#footerwrap {
	background-color:  #e9f6ff;;
	color: #555;
	text-align: left;
}

#footerwrap .row {
    margin-left: 0px;
    margin-right: 0px;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}


#footerwrap a {
    color: #273677;
    display: block;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 1.5;
}


#footerwrap span {
    color: #4c5a6f;
    font-size: 18px;
    line-height: 2;
}

#footerwrap .contact-body {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px
}

.map {
    padding: 0px;
    height: 500px;
}

/* Copyright Wrap */

#c {
	background: #3c52a6;
	padding: 20px;
	text-align: center;
}

#c p {
	color: white;
    margin-bottom: 0px;
    line-height: 3;
    font-size: 16px;
}

.navbar-nav {
    float: right;
}

.red-but {
    padding: 16px 30px 15px 30px;
    border-radius: 36px;
    color: #fff;
    text-transform: uppercase;
    background: #ff515a;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    box-shadow: 0px 4px 10px #a93735;
}

.aqua-but {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #fff;
     border: none;
     border-radius: 36px;
     padding: 16px 30px 15px 60px;
     text-transform: uppercase;
    background: #3cead3 url(../img/download.png);
    text-decoration: underline;
    background-position: 8%;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 10px #35a9a8;
}

.aqua-but:hover,.aqua-but:focus {
    background-color: #22d5bd;
    color: #fff;
}

.red-but:hover {
    background-color: #e84851;
}


.red-but:active {
    background-color: #e84750;
}


@media (max-width: 1210px) {
    
    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }
    
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 10px;
    }
    
    .navbar h2 {
        font-size: 16px;
    }
    
    #headerwrap h1 {
        font-size: 30px;
        width: 60%;
    }
    
    #headerwrap p {
        font-size: 14px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    #intro, #showcase, #doctors, #zapis, #osmotr, #features,
    #vrach-info, #genetic {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #vrach-info {
        background-position: 80%;
    }
    
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: rgba(221, 221, 221, 0.22);
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .navbar > .container .navbar-brand {
        font-size: 16px;
    }
    
    .navbar-default .navbar-nav > li > a{ 
      font-size: 12px;
          padding: 7px;
    }
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: -15px;
    }
    
    .navbar > .container .navbar-brand {
        width: 220px;
    }
    
     #headerwrap h1 {
        width: 75%;
    }
    
    #doctors a {
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 1;
    }
    
    #doctors p {
        font-size: 12px;
        width: 80%;
        margin: auto;
    }
    
    .popup .popup-body {
            width: 80%;
            margin-top: 140px;
    }
    
    #zapis .zap-form {
        width: 80%;
    }
    
    #zapis .qu-wr {
            font-size: 18px;
            margin-top: 12px;
    }
    
}




@media (max-width: 767px) {
    
    .popup .popup-body {
            width: 80%;
            margin-top: 100px;
            height: auto;
    }
    
    .popup .popup-body h2 {
        font-size: 28px;
    }
    
    
    .navbar > .container .navbar-brand {
        margin-left: 15px;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    
    .navbar-nav {
        float: none;
    }
    
    .navbar {
        padding-bottom: 10px;
    }
    
    #headerwrap h1 {
        font-size: 24px;
        width: 75%;
    }
    
    #headerwrap p {
        font-size: 12px;
    }
    
    #headerwrap {
        padding-top: 130px;
        
    }
    
    .navbar-default .navbar-brand {
        font-size: 18px;
    }
    
    #home {
        height: 480px;
    }
    
    
    #footerwrap .col-lg-6 {
        min-height: 300px;
    }
    
    #footerwrap .contact-body {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
    }
    
    h1 {
        font-size: 24px;
    }   
    
    .red-but {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
    
    }
    
    #osmotr, #vrach-info {
        padding-left: 5px;
        background-position: 80%;
    }
    
     p {
        font-size: 12px;
    }
    
    .navbar h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #doctors a {
        margin-top: 18px;
        line-height: 1;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .aqua-but {
        font-size: 14px;
        padding: 10px 20px 10px 42px;
        background-position: 3%;
    }
    
    #footerwrap a {
        font-size: 20px;
    }
    
    #footerwrap span {
        font-size: 14px;
    }
    
    #showcase p {
        width: calc(100% - 50px);
    }
    
    .navbar-collapse {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .navbar-nav {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .navbar-default .navbar-nav #fast-call{
        background: none;
        text-transform: none;
    }
    
    .navbar-default .navbar-nav #fast-call:hover{
        background: none;
        
    }
    
    .navbar-default .navbar-nav .fast-call {
        margin-left: 5px;
        border-radius: 6px;
    }
    
    .navbar-default .navbar-nav .fast-call:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .navbar-default .navbar-nav > .active > a {
        border: none;
        
    }
    
    .navbar-default .navbar-nav > .active > a:hover{
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
    }
    
    .navbar-collapse {
        background: rebeccapurple;
    }
    
    #zapis .zap-form {
        width: 90%;
        margin: auto;
        padding: 15px;
    }
    
    .zap-form input {
        width: 100%;
        margin-bottom: 10px;
    }    
}

@media (max-width: 480px) {
    
    h1, #headerwrap h1 {
        font-size: 20px;
    }
    
    .navbar-default .navbar-brand {
        font-size: 16px;
    }
    
    #intro {
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }
    
    #intro h1, #showcase h1, #features h1, #genetic h1, #doctors h1 {
        margin-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
    }
    
    #intro p {
        margin: 18px auto 20px auto;
    }
    
    #headerwrap p {
        width: 60%;
    }
    
    #price {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #headerwrap p {
        width: 80%;
        margin-bottom: 30px;
    }
    
    .navbar > .container .navbar-brand {
        width: 220px;
    }
    
    .navbar-default .navbar-toggle {
        margin-top: 1px;
    }
    
    .navbar {
        padding-bottom: 0px;
    }
    
    .navbar h2 {
        margin-right: 0px;
    }
    
    #headerwrap h1 {
        width: 100%;
    }
    
    #headerwrap p {
        width: 90%;
    }
    
    #doctors a {
        margin-top: 10px;
        font-size: 11px;
    }
    
    #doctors p {
        font-size: 10px;
    }
    
    #genetic img {
        height: 60px;
    }
    .red-but {
        font-size: 12px;
    }
    
    .vrach-info {
        padding-top: 10px;
    }
    .vrach-info h1 {
        font-size: 16px;
    }
    .vrach-info {
        background-position: 75%;
        padding-bottom: 0px;
    }
    
    body {
        background-size: 164%;
    }
    
    .popup .popup-body {
            width: 95%;
            margin-top: 20px;
            height: auto;
            padding: 20px;
    }
    
    .popup .popup-body h2 {
        font-size: 22px;
    }
    label {
            font-size: 14px;
    }
    
     #zapis .zap-form {
        width: 95%;
         padding: 0px;

    }
    
    #zapis .qu-wr {
        font-size: 16px;
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .width-60 {
        width: 99%;
    }
    
     #vrach-info {
        background-position: 72% 19%;
    }
    
    #zapis p {
        margin-bottom: 0px;
    }
    
    #zapis .now {
        margin-top: 13px;
    }
    
}


@media (max-height: 660px) {
    
    /*.popup {
        position: absolute;
    }*/
    
    .popup .popup-body {
        margin-top: 20px;
            padding: 1px;
    }
    
    .popup .popup-body form input {
        margin-bottom: 9px;
    }
    
    .popup .popup-body form  .red-but {
        margin-bottom: 10px;
    }
    
   
}
